# Dependency directories
node_modules

# Optional npm cache directory
.npm
npm-debug.log

# Optional REPL history
.node_repl_history

# To keep empty directory
!.gitkeep

# Editor and IDE settings
.idea

# In develop, ignore compiled files
/dist

# Files in development
/bundles
/tmp
/index.html

# For publishing github page
!/dist
!/index.html
/app
/gulp
/gulpfile.js
/systemjs.config.js