/* Master Styles */
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background: #ECEFF1;
  min-height: 100vh;
}

.md-tab-header {
  background-color: #ffffff !important;
}