/* Master Styles */
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background: #ECEFF1;
  min-height: 100vh;
}

.top-container {
  align-items: center;
  background: #673ab7 no-repeat;
  background-size: cover;
  display: flex;
  height: 192px;
  justify-content: flex-start;
  padding: 16px 24px;
  width: 100%;
}

/*  */
h1.title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  opacity: 0.92;
  padding: 0 16px;
}

.avatar {
  border-radius: 50%;
  height: 72px;
  width: 72px;
}

.md-tab-header {
  background-color: #ffffff;
}

.app-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 24px;
}

.my-text-subheading {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1;
  margin-bottom: 12px;
}

.my-text-body-1 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 400;
  padding: 1em;
  white-space: pre-line;
}