


.app-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 24px;
}

.my-text-subheading {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1;
  margin-bottom: 8px;
}

.my-text-body-1 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 1em;
  white-space: pre-line;
}

md-divider {
  border-top-color: rgba(0, 0, 0, 0.12) !important;
}

md-list h3 {
  color: rgba(0, 0, 0, 0.54);
}

md-list p {
  color: rgba(0, 0, 0, 0.54);
}
