@import '../style/_variables';
@import '../style/_layout.styl';

// a row of sns icon links
$top-row-height = 32px;
// a row of main title
$bot-row-height = 192px;
$bot-row-height-sm = 160px;


header {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
}

// this div is flex container
.top {
  flex-container(row, flex-end, center);
  $padding = 2px;
  background-color: $my-primary-color-darken;
  height: $top-row-height;
  padding: $padding $padding * 4;
  width: 100%;

  img {
    $size = $top-row-height - $padding * 2;
    height: $size;
    margin-left: 8px;
    width: $size;
  }
}

.bot {
  flex-container(row, flex-start, center);
  background: #673ab7 no-repeat;
  background-size: cover;
  height: $bot-row-height;
  padding: 16px 24px;
  width: 100%;
}

h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  opacity: 0.92;
  padding: 0 16px;
}

// Top main avatar
img {
  border-radius: 50%;
  flex: 0 0 auto;
  height: 72px;
  width: 72px;
}


// In width 960px
@media (max-width: $sm) {
  .bot {
    flex-container(column, center, flex-start);
    height: $bot-row-height-sm;
  }

  h1 {
    margin: 8px 0;
    padding: 0;
  }

  img {
    height: 64px;
    width: 64px;
  }
}
