// Theme colors for Material Design
// deep-purple 500
$my-primary-color = #673AB7;
// deep-purple 300
$my-primary-color-lighten = #9575CD;
// deep-purple 800
$my-primary-color-darken = #4527A0;

// Accent colors for Material Design
// orange a400
$my-accent-color = #FF9100;
// orange a200
$my-accent-color-lighten = #FFAB40;
// orange a700
$my-accent-color-darken = #FF6D00;


// Breakpoints
$xs = 600px;
$sm = 960px;
$md = 1280px;
$lg = 1920px;