/* Master Styles */
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background: #ECEFF1;
  min-height: 100vh;
}

/* override material link color */
a {
  color: #9575CD !important;
}

/* fix inherit bg-color from main */
.md-tab-header {
  background-color: #ffffff !important;
}
