<div class="container">
  <md-card>
    <article>
      <h1>About me</h1>
      <p>I’m Kou Matsumoto, a 26 year old front-end web engineer from Japan.
        Now, I’m working as a full-stack web engineer, expert in Angular, Node.js, TypeScript, ES2015.
        I develop with usually MEAN stack, or occasionally LAMP stack.
      </p>
    </article>

    <article>
      <h1>Tools</h1>
      <div *ngFor="let list of itemsForList" class="contents-list">
        <h3>{{list.head}}</h3>
        <div class="contents-list-item" *ngFor="let item of list.contents">
          <h4>{{item.subject}}</h4>
          <p [innerHTML]="item.text"></p>
        </div>
        <div class="divider"></div>
      </div>
    </article>
  </md-card>
</div>